@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 5.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 151 55% 41.5%;
    --primary-foreground: 144.9 80% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.1 76.2% 36.3%;

    --success: 142 71% 45%;
    --success-foreground: 144 80% 10%;

    --warning: 45 93% 47%;
    --warning-foreground: 20 80% 10%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --info: 217 91% 60%;
    --info-foreground: 210 40% 98%;

    --radius: 0.5rem;
  }
}
