.root {
	padding: 1rem;
	background-color: #fff;
	box-shadow: var(--shadow-md);
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.5rem;
	z-index: 1000;

	&[data-state="open"] {
		animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
	}
	&[data-state="closed"] {
		animation: hide 100ms ease-in;
	}
	&[data-swipe="move"] {
		transform: translateX(var(--radix-toast-swipe-move-x));
	}
	&[data-swipe="cancel"] {
		transform: translateX(0);
		transition: transform 200ms ease-out;
	}
	&[data-swipe="end"] {
		animation: swipeOut 100ms ease-out;
	}
}

.title {
	font-size: 1.5rem;
	font-weight: 700;

	@media (width < 500px) {
		font-size: 1.25rem;
	}
}

.description {
	font-size: 1.25rem;
	font-weight: 500;

	@media (width < 500px) {
		font-size: 0.9rem;
	}
}

.viewport {
	--viewport-padding: 1rem;
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	padding: var(--viewport-padding);

	@media (width < 850px) {
		--viewport-padding: 0.75rem;
	}

	@media (width < 500px) {
		--viewport-padding: 0.5rem;
	}
}

@keyframes slideIn {
	from {
		transform: translateX(calc(-100% - var(--viewport-padding)));
	}
	to {
		transform: translateX(0);
	}
}

@keyframes hide {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes swipeOut {
	from {
		transform: translateX(var(--radix-toast-swipe-end-x));
	}
	to {
		transform: translateX(calc(-100% - var(--viewport-padding)));
	}
}
